body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}
.selected {
    background-color: #f0f8ff; /* Light blue background for selected tasks */
    cursor: pointer;
}

.selected::before {
    content: "\2022"; /* Unicode character for bullet point */
    color: green; /* Color of the bullet point */
    font-weight: bold; /* Bold text */
    margin-right: 5px; /* Margin to separate the bullet point from the task text */

}
